In [1]:
import pandas as pd

data = {
    'Name': ['John', 'Jane', 'Jim', 'Jack'],
    'Age': [28, 32, 24, 29],
    'Department': ['IT', 'HR', 'Finance', 'IT'],
    'Salary': [50000, 55000, 60000, 52000]
}
df = pd.DataFrame(data)
print(df)

   Name  Age Department  Salary
0  John   28         IT   50000
1  Jane   32         HR   55000
2   Jim   24    Finance   60000
3  Jack   29         IT   52000

In [2]:
df.set_index('Name', inplace=True)

In [3]:
df

      Age Department  Salary
Name
John   28         IT   50000
Jane   32         HR   55000
Jim    24    Finance   60000
Jack   29         IT   52000

In [4]:
it_department = df[df['Department'] == 'IT']
print("Rows where Department is 'IT':")
print(it_department)

Rows where Department is 'IT':
      Age Department  Salary
Name
John   28         IT   50000
Jack   29         IT   52000

In [5]:
age_greater_than_28 = df[df['Age'] > 28]
print("\nRows where Age is greater than 28:")
print(age_greater_than_28)

Rows where Age is greater than 28:
      Age Department  Salary
Name
Jane   32         HR   55000
Jack   29         IT   52000

In [6]:
df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame with Bonus column added:")
print(df)

DataFrame with Bonus column added:
      Age Department  Salary   Bonus
Name
John   28         IT   50000  5000.0
Jane   32         HR   55000  5500.0
Jim    24    Finance   60000  6000.0
Jack   29         IT   52000  5200.0

In [7]:
df.loc[df['Department'] == 'Finance', 'Salary'] *= 1.05
print("\nDataFrame with increased Salary for Finance department:")
print(df)

DataFrame with increased Salary for Finance department:
      Age Department  Salary   Bonus
Name
John   28         IT   50000  5000.0
Jane   32         HR   55000  5500.0
Jim    24    Finance   63000  6000.0
Jack   29         IT   52000  5200.0

In [8]:
df.loc[df['Department'] == 'HR', 'Age'] = 35
print("\nDataFrame with Age updated for HR department:")
print(df)

DataFrame with Age updated for HR department:
      Age Department  Salary   Bonus
Name
John   28         IT   50000  5000.0
Jane   35         HR   55000  5500.0
Jim    24    Finance   63000  6000.0
Jack   29         IT   52000  5200.0