In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\Administrator\Desktop\Anudip Foundation\Python Answers\Class Work\files\Panda Sample Files\sales-data.csv")
df

,Account,Name,Rep,Manager,Product,Quantity,Sales,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [2]:
print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Product"], aggfunc=np.sum))

             Quantity   Sales
Product
CPU                17  465000
Maintenance         8   22000
Monitor             2    5000
Software            3   30000

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1479695145.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Product"], aggfunc=np.sum))

In [3]:
print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Name","Rep", "Manager"], aggfunc=np.sum))

                                                          Quantity   Sales
Name                         Rep           Manager
Barton LLC                   John Smith    Debra Henley          1   35000
Fritsch, Russel and Anderson Craig Booker  Debra Henley          1   35000
Herman LLC                   Cedric Moss   Fred Anderson         2   65000
Jerde-Hilpert                John Smith    Debra Henley          2    5000
Kassulke, Ondricka and Metz  Wendy Yule    Fred Anderson         3    7000
Keeling LLC                  Wendy Yule    Fred Anderson         5  100000
Kiehn-Spinka                 Daniel Hilton Debra Henley          2   65000
Koepp Ltd                    Wendy Yule    Fred Anderson         4   70000
Kulas Inc                    Daniel Hilton Debra Henley          3   50000
Purdy-Kunde                  Cedric Moss   Fred Anderson         1   30000
Stokes LLC                   Cedric Moss   Fred Anderson         2   15000
Trantow-Barrows              Craig Booker  Debra Henley          4   45000

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1506748262.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Name","Rep", "Manager"], aggfunc=np.sum))

In [4]:
print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep"], aggfunc=np.sum))

                             Quantity   Sales
Manager       Rep
Debra Henley  Craig Booker          5   80000
              Daniel Hilton         5  115000
              John Smith            3   40000
Fred Anderson Cedric Moss           5  110000
              Wendy Yule           12  177000

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\2584431423.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep"], aggfunc=np.sum))

In [5]:
print(pd.pivot_table(data=df , values=["Sales"], index=["Manager","Rep"], columns = ["Product"], aggfunc=np.sum))

                                Sales
Product                           CPU Maintenance Monitor Software
Manager       Rep
Debra Henley  Craig Booker    65000.0      5000.0     NaN  10000.0
              Daniel Hilton  105000.0         NaN     NaN  10000.0
              John Smith      35000.0      5000.0     NaN      NaN
Fred Anderson Cedric Moss     95000.0      5000.0     NaN  10000.0
              Wendy Yule     165000.0      7000.0  5000.0      NaN

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\31027704.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Sales"], index=["Manager","Rep"], columns = ["Product"], aggfunc=np.sum))

In [6]:
print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep"], columns = ["Product"], fill_value = 0, margins = True, aggfunc=np.sum))

                            Quantity                                    Sales  \
Product                          CPU Maintenance Monitor Software All     CPU
Manager       Rep
Debra Henley  Craig Booker         2           2       0        1   5   65000
              Daniel Hilton        4           0       0        1   5  105000
              John Smith           1           2       0        0   3   35000
Fred Anderson Cedric Moss          3           1       0        1   5   95000
              Wendy Yule           7           3       2        0  12  165000
All                               17           8       2        3  30  465000


Product                     Maintenance Monitor Software     All
Manager       Rep
Debra Henley  Craig Booker         5000       0    10000   80000
              Daniel Hilton           0       0    10000  115000
              John Smith           5000       0        0   40000
Fred Anderson Cedric Moss          5000       0    10000  110000
              Wendy Yule           7000    5000        0  177000
All                               22000    5000    30000  522000

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1667916206.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep"], columns = ["Product"], fill_value = 0, margins = True, aggfunc=np.sum))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1667916206.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep"], columns = ["Product"], fill_value = 0, margins = True, aggfunc=np.sum))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1667916206.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep"], columns = ["Product"], fill_value = 0, margins = True, aggfunc=np.sum))

In [7]:
print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep","Product"], margins = True, aggfunc=np.sum))

                                         Quantity   Sales
Manager       Rep           Product
Debra Henley  Craig Booker  CPU                 2   65000
                            Maintenance         2    5000
                            Software            1   10000
              Daniel Hilton CPU                 4  105000
                            Software            1   10000
              John Smith    CPU                 1   35000
                            Maintenance         2    5000
Fred Anderson Cedric Moss   CPU                 3   95000
                            Maintenance         1    5000
                            Software            1   10000
              Wendy Yule    CPU                 7  165000
                            Maintenance         3    7000
                            Monitor             2    5000
All                                            30  522000

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1190100308.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep","Product"], margins = True, aggfunc=np.sum))

In [8]:
print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep","Product"], margins = True, aggfunc=[np.sum,np.mean]))

                                             sum              mean  \
                                        Quantity   Sales  Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU                2   65000  1.000000
                            Maintenance        2    5000  2.000000
                            Software           1   10000  1.000000
              Daniel Hilton CPU                4  105000  2.000000
                            Software           1   10000  1.000000
              John Smith    CPU                1   35000  1.000000
                            Maintenance        2    5000  2.000000
Fred Anderson Cedric Moss   CPU                3   95000  1.500000
                            Maintenance        1    5000  1.000000
                            Software           1   10000  1.000000
              Wendy Yule    CPU                7  165000  3.500000
                            Maintenance        3    7000  3.000000
                            Monitor            2    5000  2.000000
All                                           30  522000  1.764706


                                                Sales
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          32500.000000
                            Maintenance   5000.000000
                            Software     10000.000000
              Daniel Hilton CPU          52500.000000
                            Software     10000.000000
              John Smith    CPU          35000.000000
                            Maintenance   5000.000000
Fred Anderson Cedric Moss   CPU          47500.000000
                            Maintenance   5000.000000
                            Software     10000.000000
              Wendy Yule    CPU          82500.000000
                            Maintenance   7000.000000
                            Monitor       5000.000000
All                                      30705.882353

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\23579990.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep","Product"], margins = True, aggfunc=[np.sum,np.mean]))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\23579990.py:1: FutureWarning: The provided callable <function mean at 0x0000011538B03F60> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep","Product"], margins = True, aggfunc=[np.sum,np.mean]))

In [9]:
print(pd.pivot_table(data=df , values=["Sales"], index=["Manager"], columns = ["Status"], margins = True, aggfunc=[np.sum]))

                   sum
                 Sales
Status        declined pending presented     won     All
Manager
Debra Henley     70000   50000     50000   65000  235000
Fred Anderson    65000    5000     45000  172000  287000
All             135000   55000     95000  237000  522000

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\196129290.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Sales"], index=["Manager"], columns = ["Status"], margins = True, aggfunc=[np.sum]))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\196129290.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Sales"], index=["Manager"], columns = ["Status"], margins = True, aggfunc=[np.sum]))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\196129290.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Sales"], index=["Manager"], columns = ["Status"], margins = True, aggfunc=[np.sum]))

In [10]:
print(pd.pivot_table(data=df , values=["Sales"], index=["Manager","Status", "Quantity"], columns= "Product", margins = True, fill_value = 0, aggfunc=[np.sum]))

                                     sum
                                   Sales
Product                              CPU Maintenance Monitor Software     All
Manager       Status    Quantity
Debra Henley  declined  1          70000           0       0        0   70000
              pending   2          40000       10000       0        0   50000
              presented 1          30000           0       0    20000   50000
              won       2          65000           0       0        0   65000
Fred Anderson declined  2          65000           0       0        0   65000
              pending   1              0        5000       0        0    5000
              presented 1          30000           0       0    10000   40000
                        2              0           0    5000        0    5000
              won       2          65000           0       0        0   65000
                        3              0        7000       0        0    7000
                        5         100000           0       0        0  100000
All                               465000       22000    5000    30000  522000

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1499023418.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Sales"], index=["Manager","Status", "Quantity"], columns= "Product", margins = True, fill_value = 0, aggfunc=[np.sum]))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1499023418.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Sales"], index=["Manager","Status", "Quantity"], columns= "Product", margins = True, fill_value = 0, aggfunc=[np.sum]))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1499023418.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Sales"], index=["Manager","Status", "Quantity"], columns= "Product", margins = True, fill_value = 0, aggfunc=[np.sum]))

In [11]:
print(pd.pivot_table(data=df , values=["Sales"], index=["Manager","Status"], columns= ["Product"], fill_value = 0, aggfunc={"Sales":[np.sum,np.mean]}))

                           Sales                                       \
                            mean                                  sum
Product                      CPU Maintenance Monitor Software     CPU
Manager       Status
Debra Henley  declined   35000.0         0.0     0.0      0.0   70000
              pending    40000.0      5000.0     0.0      0.0   40000
              presented  30000.0         0.0     0.0  10000.0   30000
              won        65000.0         0.0     0.0      0.0   65000
Fred Anderson declined   65000.0         0.0     0.0      0.0   65000
              pending        0.0      5000.0     0.0      0.0       0
              presented  30000.0         0.0  5000.0  10000.0   30000
              won        82500.0      7000.0     0.0      0.0  165000



Product                 Maintenance Monitor Software
Manager       Status
Debra Henley  declined            0       0        0
              pending         10000       0        0
              presented           0       0    20000
              won                 0       0        0
Fred Anderson declined            0       0        0
              pending          5000       0        0
              presented           0    5000    10000
              won              7000       0        0

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\142694890.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(pd.pivot_table(data=df , values=["Sales"], index=["Manager","Status"], columns= ["Product"], fill_value = 0, aggfunc={"Sales":[np.sum,np.mean]}))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\142694890.py:1: FutureWarning: The provided callable <function mean at 0x0000011538B03F60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(pd.pivot_table(data=df , values=["Sales"], index=["Manager","Status"], columns= ["Product"], fill_value = 0, aggfunc={"Sales":[np.sum,np.mean]}))

In [16]:
pivot_table = pd.pivot_table(
    df,
    index=["Manager", "Rep", "Product"],
    values=["Sales", "Quantity"],
    aggfunc=[np.sum, np.mean, np.min, np.max, np.std, np.var],  # Add other functions as needed
    fill_value=0
)
print(pivot_table)

                                             sum             mean           \
                                        Quantity   Sales Quantity    Sales
Manager       Rep           Product
Debra Henley  Craig Booker  CPU                2   65000      1.0  32500.0
                            Maintenance        2    5000      2.0   5000.0
                            Software           1   10000      1.0  10000.0
              Daniel Hilton CPU                4  105000      2.0  52500.0
                            Software           1   10000      1.0  10000.0
              John Smith    CPU                1   35000      1.0  35000.0
                            Maintenance        2    5000      2.0   5000.0
Fred Anderson Cedric Moss   CPU                3   95000      1.5  47500.0
                            Maintenance        1    5000      1.0   5000.0
                            Software           1   10000      1.0  10000.0
              Wendy Yule    CPU                7  165000      3.5  82500.0
                            Maintenance        3    7000      3.0   7000.0
                            Monitor            2    5000      2.0   5000.0

                                             min             max          \
                                        Quantity  Sales Quantity   Sales
Manager       Rep           Product
Debra Henley  Craig Booker  CPU                1  30000        1   35000
                            Maintenance        2   5000        2    5000
                            Software           1  10000        1   10000
              Daniel Hilton CPU                2  40000        2   65000
                            Software           1  10000        1   10000
              John Smith    CPU                1  35000        1   35000
                            Maintenance        2   5000        2    5000
Fred Anderson Cedric Moss   CPU                1  30000        2   65000
                            Maintenance        1   5000        1    5000
                            Software           1  10000        1   10000
              Wendy Yule    CPU                2  65000        5  100000
                            Maintenance        3   7000        3    7000
                            Monitor            2   5000        2    5000

                                              std                    var  \
                                         Quantity         Sales Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          0.000000   3535.533906      0.0
                            Maintenance       NaN           NaN      NaN
                            Software          NaN           NaN      NaN
              Daniel Hilton CPU          0.000000  17677.669530      0.0
                            Software          NaN           NaN      NaN
              John Smith    CPU               NaN           NaN      NaN
                            Maintenance       NaN           NaN      NaN
Fred Anderson Cedric Moss   CPU          0.707107  24748.737342      0.5
                            Maintenance       NaN           NaN      NaN
                            Software          NaN           NaN      NaN
              Wendy Yule    CPU          2.121320  24748.737342      4.5
                            Maintenance       NaN           NaN      NaN
                            Monitor           NaN           NaN      NaN


                                               Sales
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           12500000.0
                            Maintenance          NaN
                            Software             NaN
              Daniel Hilton CPU          312500000.0
                            Software             NaN
              John Smith    CPU                  NaN
                            Maintenance          NaN
Fred Anderson Cedric Moss   CPU          612500000.0
                            Maintenance          NaN
                            Software             NaN
              Wendy Yule    CPU          612500000.0
                            Maintenance          NaN
                            Monitor              NaN

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1866329845.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_table = pd.pivot_table(
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1866329845.py:1: FutureWarning: The provided callable <function mean at 0x0000011538B03F60> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot_table = pd.pivot_table(
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1866329845.py:1: FutureWarning: The provided callable <function min at 0x0000011538B036A0> is currently using DataFrameGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  pivot_table = pd.pivot_table(
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1866329845.py:1: FutureWarning: The provided callable <function max at 0x0000011538B03560> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  pivot_table = pd.pivot_table(
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1866329845.py:1: FutureWarning: The provided callable <function std at 0x0000011538B0C0E0> is currently using DataFrameGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  pivot_table = pd.pivot_table(
C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\1866329845.py:1: FutureWarning: The provided callable <function var at 0x0000011538B0C220> is currently using DataFrameGroupBy.var. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "var" instead.
  pivot_table = pd.pivot_table(

In [15]:
filtered_pivot_table = pivot_table[pivot_table[('sum', 'Sales')] > 30000]
print(filtered_pivot_table)

                                         sum             mean           \
                                    Quantity   Sales Quantity    Sales
Manager       Rep           Product
Debra Henley  Craig Booker  CPU            2   65000      1.0  32500.0
              Daniel Hilton CPU            4  105000      2.0  52500.0
              John Smith    CPU            1   35000      1.0  35000.0
Fred Anderson Cedric Moss   CPU            3   95000      1.5  47500.0
              Wendy Yule    CPU            7  165000      3.5  82500.0

                                         min             max          \
                                    Quantity  Sales Quantity   Sales
Manager       Rep           Product
Debra Henley  Craig Booker  CPU            1  30000        1   35000
              Daniel Hilton CPU            2  40000        2   65000
              John Smith    CPU            1  35000        1   35000
Fred Anderson Cedric Moss   CPU            1  30000        2   65000
              Wendy Yule    CPU            2  65000        5  100000

                                          std                    var  \
                                     Quantity         Sales Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU      0.000000   3535.533906      0.0
              Daniel Hilton CPU      0.000000  17677.669530      0.0
              John Smith    CPU           NaN           NaN      NaN
Fred Anderson Cedric Moss   CPU      0.707107  24748.737342      0.5
              Wendy Yule    CPU      2.121320  24748.737342      4.5


                                           Sales
Manager       Rep           Product
Debra Henley  Craig Booker  CPU       12500000.0
              Daniel Hilton CPU      312500000.0
              John Smith    CPU              NaN
Fred Anderson Cedric Moss   CPU      612500000.0
              Wendy Yule    CPU      612500000.0

In [17]:
pivot_table_2 = pd.pivot_table(data=df , values=["Sales"], index=["Manager","Status"], aggfunc=[np.sum])
#print(pivot_table_2)
filtered_table_3 = pivot_table_2[pivot_table_2[('sum', 'Sales')] >= 50000]
#print(filtered_table_3)

filtered_table_3.query('Status == ["pending", "won"]')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\3350629715.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_table_2 = pd.pivot_table(data=df , values=["Sales"], index=["Manager","Status"], aggfunc=[np.sum])

                          sum
                        Sales
Manager       Status
Debra Henley  pending   50000
              won       65000
Fred Anderson won      172000

In [18]:
pivot_table_4 = pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep","Product"], margins = True, aggfunc=np.sum)
print(pivot_table_4)
#pivot_table_4.query('Quantity > 3')
pivot_table_4.query('Product == "CPU" & Sales > 100000')

                                         Quantity   Sales
Manager       Rep           Product
Debra Henley  Craig Booker  CPU                 2   65000
                            Maintenance         2    5000
                            Software            1   10000
              Daniel Hilton CPU                 4  105000
                            Software            1   10000
              John Smith    CPU                 1   35000
                            Maintenance         2    5000
Fred Anderson Cedric Moss   CPU                 3   95000
                            Maintenance         1    5000
                            Software            1   10000
              Wendy Yule    CPU                 7  165000
                            Maintenance         3    7000
                            Monitor             2    5000
All                                            30  522000

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\2403950228.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_table_4 = pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep","Product"], margins = True, aggfunc=np.sum)

                                     Quantity   Sales
Manager       Rep           Product
Debra Henley  Daniel Hilton CPU             4  105000
Fred Anderson Wendy Yule    CPU             7  165000

In [19]:
pivot_table_5 = pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep","Product"], fill_value = 0, margins = True, aggfunc=np.sum)
print(pivot_table_5)
pivot_table_5.query('Sales >= 5000 & Sales <= 10000')

                                         Quantity   Sales
Manager       Rep           Product
Debra Henley  Craig Booker  CPU                 2   65000
                            Maintenance         2    5000
                            Software            1   10000
              Daniel Hilton CPU                 4  105000
                            Software            1   10000
              John Smith    CPU                 1   35000
                            Maintenance         2    5000
Fred Anderson Cedric Moss   CPU                 3   95000
                            Maintenance         1    5000
                            Software            1   10000
              Wendy Yule    CPU                 7  165000
                            Maintenance         3    7000
                            Monitor             2    5000
All                                            30  522000

C:\Users\Administrator\AppData\Local\Temp\ipykernel_552\797262890.py:1: FutureWarning: The provided callable <function sum at 0x0000011538B02B60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_table_5 = pd.pivot_table(data=df , values=["Quantity","Sales"], index=["Manager","Rep","Product"], fill_value = 0, margins = True, aggfunc=np.sum)

                                         Quantity  Sales
Manager       Rep           Product
Debra Henley  Craig Booker  Maintenance         2   5000
                            Software            1  10000
              Daniel Hilton Software            1  10000
              John Smith    Maintenance         2   5000
Fred Anderson Cedric Moss   Maintenance         1   5000
                            Software            1  10000
              Wendy Yule    Maintenance         3   7000
                            Monitor             2   5000