### Read the content from the below file and after reading the content using sparse matrix remove all the 0 values then display the content.

In [6]:
df =pd.read_csv(r"https://raw.githubusercontent.com/AnudipAE/DANLC/master/client_details.csv")
df

        Age    Height    Width    Weight
0  0.095410  0.449451  0.00000  0.668841
1  0.000000  0.000000  0.00000  0.721730
2  0.000000  0.848914  0.91496  0.000000
3  0.000000  0.000000  0.00000  0.591298
4  0.561243  0.000000  0.00000  0.000000
5  0.000000  0.000000  0.00000  0.000000
6  0.000000  0.000000  0.00000  0.000000
7  0.000000  0.000000  0.00000  0.000000
8  0.000000  0.370818  0.00000  0.000000
9  0.000000  0.000000  0.00000  0.651077

In [4]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix



# Read the data into a DataFrame
df =pd.read_csv(r"https://raw.githubusercontent.com/AnudipAE/DANLC/master/client_details.csv")
  

# Convert to sparse matrix
sparse_matrix = csr_matrix(df.values)

# Get the non-zero values and their corresponding indices
rows, cols = sparse_matrix.nonzero()
non_zero_values = sparse_matrix.data

# Create a new DataFrame to display non-zero values
result_df = pd.DataFrame({
    'Row': rows,
    'Column': cols,
    'Value': non_zero_values
})

# Display the result
print(result_df)

   Row  Column     Value
0    0       0  0.095410
1    0       1  0.449451
2    0       3  0.668841
3    1       3  0.721730
4    2       1  0.848914
5    2       2  0.914960
6    3       3  0.591298
7    4       0  0.561243
8    8       1  0.370818
9    9       3  0.651077

### 2: Calculate the correlation between the number of hours students spend studying and their corresponding exam scores. Add your conclusion also.

In [10]:
import pandas as pd
import numpy as np
# Create DataFrame

df = pd.read_csv(r"https://raw.githubusercontent.com/AnudipAE/DANLC/master/study_data.csv")

# Calculate correlation
correlation = df['Hours_Studied'].corr(df['Exam_Scores'])

print(f"Correlation coefficient: {correlation:.4f}")

Correlation coefficient: 0.8771