In [1]:
# Write a python program using pandas Interpolation to fill in missing values
#in the data frame.
#Input:

In [2]:
import pandas as pd

import matplotlib.pyplot as plt
# from scipy.interpolate import interp1d
df = pd.DataFrame({"Math":[12, 4, 7, None, 2],
"English":[4, 3, 57, 3, None],
"Hindi":[20, 16, None, 3, 8],
"Science":[14, 3, None, None, 6]})
df

   Math  English  Hindi  Science
0  12.0      4.0   20.0     14.0
1   4.0      3.0   16.0      3.0
2   7.0     57.0    NaN      NaN
3   NaN      3.0    3.0      NaN
4   2.0      NaN    8.0      6.0

In [3]:
df_interpolated = df.interpolate()

# Display the DataFrame after interpolation
print("\nDataFrame after Interpolation:")
print(df_interpolated)

DataFrame after Interpolation:
   Math  English  Hindi  Science
0  12.0      4.0   20.0     14.0
1   4.0      3.0   16.0      3.0
2   7.0     57.0    9.5      4.0
3   4.5      3.0    3.0      5.0
4   2.0      3.0    8.0      6.0

In [ ]:
 ##Write a python program using Interpolation to fill in missing values in the
#data frame. After that store the data frame into a MATLAB file using SciPy IO.Then
#display the contents from the MATLAB file.

In [6]:
from scipy.io import savemat, loadmat


savemat('student_data.mat', df_interpolated)

# Load the contents from the MATLAB file
loaded_data = loadmat('student_data.mat')

loaded_data

{'__header__': b'MATLAB 5.0 MAT-file Platform: nt, Created on: Thu Sep 19 12:23:21 2024',
 '__version__': '1.0',
 '__globals__': [],
 'Math': array([[12. ,  4. ,  7. ,  4.5,  2. ]]),
 'English': array([[ 4.,  3., 57.,  3.,  3.]]),
 'Hindi': array([[20. , 16. ,  9.5,  3. ,  8. ]]),
 'Science': array([[14.,  3.,  4.,  5.,  6.]])}